.dude {
  margin: 0;
  padding: 0;
}
.dudeText {
  font-size: 1.3em;
  font-weight: bold;
  color: black;
  position: relative;
  top: 58px;
  left: 92px;
  transform: rotate(352deg);
  margin: 0;
  padding: 0;
}
.content {
  background: rgb(27, 132, 241);
  background: linear-gradient(
    180deg,
    rgb(18, 87, 160) 0%,
    rgb(117, 143, 172) 100%
  );
}
